aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncio-dgram==2.1.0
attrs==21.2.0
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.3
click==8.0.3
colorama==0.4.4
component==0.0.1
discord.py==2.0.0a3489+g489e5f32
dnspython==2.1.0
ffmpeg==1.4
idna==3.2
mcstatus==6.5.0
multidict==5.1.0
pycparser==2.20
PyNaCl==1.4.0
python-dotenv==0.19.0
requests==2.26.0
six==1.16.0
typing-extensions==3.10.0.2
urllib3==1.26.6
yarl==1.6.3
youtube-dl==2021.6.6
